/DCCYAC_Presentacion/dist/
/DCCYAC_AccDatos/nbproject/private/
/DCCYAC_Dominio/nbproject/private/
/DCCYAC_Negocios/nbproject/private/
/DCCYAC_AccDatos/build/
/DCCYAC_AccDatos/dist/
/DCCYAC_Dominio/dist/
/DCCYAC_Dominio/build/
/DCCYAC_Negocios/dist/
/DCCYAC_Negocios/build/
/DCCYAC_Presentacion/build/
/DCCYAC_Presentacion/nbproject/private/
